#main{
    background: #FFFBE7;
    color: #666666
}
#main-column {
    max-width: 1080px;
    min-width: 720px;
    min-height: 500px;
    font-family:  Palatino, Times;
    font-size: 11pt;
    }
#top {
    display:block;
    }
#name {
    font-family:  Palatino, Times;
    font-size: 2em;
    width: 200px;
    letter-spacing: 3px;
    text-align: right;
    color: #666666;
    text-decoration: none;
}

#banner {
    display: none;
    font-family:  Palatino, Times;
    text-align:right;
    vertical-align: bottom;
}

#navbar { 
    font-family: Helvetica, Arial;
    position: absolute;
    width: 200px;
    height: auto;
    /*background: #888888*/
    list-style: none; 
    padding-top: 75px;
    text-align: right;
    letter-spacing: 2px;
}
#navbar ol {
    list-style: none;
}
#navbar li {
    float: right;
    padding: 10px 10px 10px 50px;
}

#navbar li a {
    display: block;
    width: 60px;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 10pt;
    color: #888888;
    font-weight: bold;
}

#content {
    display: block;
    padding-top: 10px;
    padding-left: 300px;
    line-height: 150%;
}
#posts {
    list-style: none; 
    line-height: 200%;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
#footer {
    display: block;
    text-align: center;
    max-width: 780px;
    min-width: 320px;
    padding-left: 300px;
    height: 1.5em;
}

.centered {
    display:block;
    margin:auto;
}

h1 {
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}
#heading {
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    line-height: 75px;
}
.date {text-align: center;
       font-style: italic;}
dd {
    margin: 0;
}
p{text-align:justify;}